<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Poll</title>
    <style>
        .errorlist{
            color: red;
        }
    </style>
</head>
<body>
<h1>Create New Poll</h1>
{% if success %}
    <p>{{success}}</p>
{% endif %}
    <form method="POST" action="{% url 'create_poll' %}">
        {% csrf_token %}
        {{form.as_p}}
        <hr/>
            <h2>Add Question(s)</h2>
        <table>
            {{formset}}
        </table>
            <p>
                <tr>
                    <td colspan="2"><input type="submit" value="Create"></td>
                </tr>
            </p>
        </table>
    </form>

</body>
</html>